.modal-backgroundPasswrong {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1)!important;
    ;
  }

  .modal-cardPasswrong {
    margin: 0 auto;
    display: block;
    margin-top: 300px;
    width: 700px;
    height: 340px;
    background-color: white;
    border-radius: 15px;
  }